In [1]:
import pandas as pd

# Load the dataset (make sure it's in the same directory as your notebook)
mouse_df = pd.read_csv("logger_mouseactionlog_modified.csv")

# Show general structure
print("Dataset Shape:", mouse_df.shape)
print("\nColumns:\n", mouse_df.columns)
print("\nMissing Values:\n", mouse_df.isnull().sum())
mouse_df.head()

Dataset Shape: (316358, 9)

Columns:
 Index(['id', 'action', 'coordinates', 'button', 'delta', 'distance', 'speed',
       'user_id', 'timestamp'],
      dtype='object')

Missing Values:
 id              63961
action          63961
coordinates     63961
button         313130
delta           66456
distance        64015
speed           64015
user_id         64033
timestamp       63961
dtype: int64

/var/folders/xn/3p4bls9951b26kzwyk7s2_g40000gp/T/ipykernel_524/381294518.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  mouse_df = pd.read_csv("logger_mouseactionlog_modified.csv")

   id action coordinates button delta  distance  speed  user_id timestamp
0 NaN    NaN         NaN    NaN   NaN       NaN    NaN      NaN       NaN
1 NaN    NaN         NaN    NaN   NaN       NaN    NaN      NaN       NaN
2 NaN    NaN         NaN    NaN   NaN       NaN    NaN      NaN       NaN
3 NaN    NaN         NaN    NaN   NaN       NaN    NaN      NaN       NaN
4 NaN    NaN         NaN    NaN   NaN       NaN    NaN      NaN       NaN

In [2]:
# Drop completely empty rows
mouse_df.dropna(how='all', inplace=True)

# Drop rows with missing essential values (like coordinates or timestamp)
essential_cols = ['id', 'action', 'coordinates', 'button', 'delta', 'distance', 'speed', 'user_id', 'timestamp']
mouse_df.dropna(subset=essential_cols, inplace=True)

# Convert timestamp to datetime
mouse_df['timestamp'] = pd.to_datetime(mouse_df['timestamp'], errors='coerce')

# Drop rows with invalid timestamps
mouse_df.dropna(subset=['timestamp'], inplace=True)

# Show cleaned status
print("\nAfter Cleaning:")
print("Remaining rows:", mouse_df.shape[0])
print("Missing Values:\n", mouse_df.isnull().sum())
mouse_df.head()

After Cleaning:
Remaining rows: 2909
Missing Values:
 id             0
action         0
coordinates    0
button         0
delta          0
distance       0
speed          0
user_id        0
timestamp      0
dtype: int64

,id,action,coordinates,button,delta,distance,speed,user_id,timestamp
66576,66578.0,click,"488,290",left,"0,0",0.0,0.0,2.0,2025-03-21 14:05:31.336000+00:00
66620,66622.0,click,"524,300",left,"0,0",0.0,0.0,2.0,2025-03-21 14:05:39.932000+00:00
66624,66626.0,click,"524,299",left,"0,0",0.0,0.0,2.0,2025-03-21 14:05:40.390000+00:00
66634,66636.0,click,"508,288",left,"0,0",0.0,0.0,2.0,2025-03-21 14:05:40.941000+00:00
66672,66674.0,click,"445,295",left,"0,0",0.0,0.0,2.0,2025-03-21 14:05:43.406000+00:00